# dependencies
/node_modules
/.pnp
.pnp.*

# IDE
.idea/
.vscode/

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
*.log
.pnpm-debug.log*

# local env files (STRICTLY IGNORED)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Allow env examples
!.env.local.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Docker Local
*.dev.yml
Dockerfile.dev
